name: "Build and Push Docker GCP"

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

permissions:
  contents: read
  issues: write
  packages: write

  
jobs:
  terraform:
    uses: gouv-nc-data/github-workflows/.github/workflows/build-push-gcp.yml@main
    secrets: inherit
